.App {
  font-family: sans-serif;
  text-align: center;
}

.Contenedor {
  width: 100%;
  height: 60px;
  background-color: green;
  display: flex;
}

.ContenedorI { 
  width: 100%;
  height: 60px;
  background-color: green;
  display: flex;
}

.Contenedor-Perfil {
  width: 100%;
  height: 60px;
  background-color: green;
  display: flex;
}

.Contenedor-P {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
}

.Nombre{
  width: max-content;
  height: 40px;
  float: left;
  margin: 10px;
  padding: 3px;
  font-size: 30px;
  font-family: fantasy;
  box-sizing: border-box;
}

.Botones {
  width: 85%;
  height: 60px;
  padding: 10px;
  float: left;
  text-align: right;
  box-sizing: border-box;
}

.Botones2 {
  width: 85%;
  height: 60px;
  margin: 10px;
  float: left;
  text-align: right;
  box-sizing: border-box;
}

.Menu {
  width: max-content;
  height: 40px;
  float: left;
  margin: 10px;
  padding: 4px;
  font-size: 30px;
  font-family: fantasy;
  background-color: yellow;
}

.Fondo {
  width: 100%;
  height: 100%;
  margin: auto;
}

.Fondo2 {
  width: 100%;
  height: 100%;
}

.Registrarse {
  display: table-cell;
  vertical-align: middle;
}

.Ingresar {
  display: table-cell;
  vertical-align: middle;
}

.Perfil{
  width: 58px;
  height: 58px;
  margin: auto;
}

.C-Perfil{
  width: 41%;
  height: 60px;
  float: left;
  text-align: right;
}

.C-Sesion{
  width: 95%;
  height: 60px;
  float: left;
}

.Menu2 {
  width: max-content;
  height: 40px;
  float: right;
  margin: 10px;
  padding: 4px;
  font-size: 30px;
  font-family: fantasy;
  background-color: yellow;
}

.C-Perfil2{
  width: 93%;
  height: 60px;
  float: left;
  text-align: right;
}

.C-Perfil3{
  width: 100%;
  height: max-content;
  float: left;
  text-align: center;
}

.Titulos{
  width: 100%;
  height: max-content;
  font-size: 30px;
  font-family: fantasy;
  text-align: center;
  padding: 10px;
}

.Contenedor3 {
  width: 100%;
  height: 1500px;
  margin: auto;
  padding: 10px;
  font-size: 25px;
  background: rgb(88, 206, 88);
  text-align: center;
}

.Planes {
  width: 95%;
  height: max-content;
  text-align: center;
  margin: auto;
  margin-top: 30px;
}

.Ejercicios{
  width: 100%;
  height: max-content;
}

.Info{
  width: 100%;
  height: max-content;
}

.Regresar {
  margin: 10px;
}

.Contenedor2 {
  display: flex;
  margin: auto;
  width: max-content;
  height: max-content;
}

.login {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  width: 310px;
  background: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 200px rgba(255,255,255,.5), 0 1px 2px rgba(0,0,0,.3);
  box-shadow: 0 0 200px rgba(255,255,255,.5), 0 1px 2px rgba(0,0,0,.3);
}

.login-ayuda {
  font-size: 12px;
  text-align: center;
  text-shadow: 0 1px #fff;
  margin: 5px;
}

.form {
  display: block;
  margin-top: 0em;
}

.login h1 {
  margin: -20px -20px 21px;
  line-height: 40px;
  font-size: 15px;
  font-weight: 700;
  color: #555;
  text-align: center;
  text-shadow: 0 1px #fff;
  background: #f3f3f3;
  border-bottom: 1px solid #cfcfcf;
  border-radius: 3px 3px 0 0;

}

.login input[type=text], .login input[type=password] {
  width: 260px;
}

input[type=text], input[type=password], select {
  margin: 5px;
  padding: 0 10px;
  width: 200px;
  height: 34px;
  color: #404040;
  background: #fff;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 2px;
  outline: 5px solid #eff4f7;
  -moz-outline-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.12);
  box-shadow: inset 0 1px 3px rgba(0,0,0,.12);
}

button[type=submit] {
  padding: 0 18px;
  height: 32px;
  font-size: 12px;
  font-weight: 700;
  color: #527881;
  text-shadow: 0 1px #e3f1f1;
  background: #cde5ef;
  border: 1px solid;
  border-color: #b4ccce #b3c0c8 #9eb9c2;
  border-radius: 5px;
  position: relative;
  left: 90px;
}

@media screen and (max-width: 650px){
  .Contenedor{
    display: grid;
    width: 100%;
    height: 120px;
    text-align: center;
  }

  .Nombre{
    width: 95%;
    height: 40px;
    margin: 10px;
    padding: 3px;
    font-size: 30px;
    font-family: fantasy;
    box-sizing: border-box;
  }
  
  .Botones {
    width: 95%;
    height: max-content;
    padding: 10px;
    text-align: center;
  }

  .Botones2 {
    width: 95%;
    height: max-content;
    text-align: center;
  }

  .Regresar {
    margin: 10px;
    width: 150px;
    height: 35px;
  }
}

@media screen and (max-width: 440px){
  .Contenedor{
    width: 100%;
    height: 120px;
    text-align: center;
  }

  .Nombre{
    width: 95%;
    height: 15px;
    margin: 3px;
    font-size: 25px;
    font-family: fantasy;
  }

  .Botones2 {
    width: 70%;
    margin: auto;
    height: max-content;
    text-align: center;
  }
}

@media screen and (max-width: 280px){
  .Contenedor-Perfil{
    display: grid;
    width: 100%;
    height: 120px;
    text-align: center;
  }

  .Menu {
    width: max-content;
    height: 38px;
    text-align: center;
    font-size: 30px;
    font-family: fantasy;
    background-color: yellow;
  }

  .Menu2 {
    width: max-content;
    height: max-content;
    float: none;
    font-size: 30px;
    font-family: fantasy;
    background-color: yellow;
    
  }

  .C-Sesion{
    width: 100%;
    height: max-content;
  }
}